doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    != LRScript
  body#body
    block content
    script(type="text/javascript", src="node_modules/rangeslider.js/src/rangeslider.js")