doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/js/rangeslider.css')
    link(rel='stylesheet', href='/styles/style.css')
    != LRScript
  body#body
    block content
    script(type="text/javascript", src="/js/jquery.min.js")
    script(type="text/javascript", src="/js/application.js")