doctype html
html
  head
    title vue examples
    link(rel='stylesheet', href='/styles/vue.css')
    link(rel='stylesheet', href='/js/rangeslider.css')
    != LRScript
  body
  script(type="text/javascript", src="/js/popcorn.min.js")
  block content