doctype html
html
  head
    title Redes Estratégicas
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/js/libs/rangeslider.css')
  body
  script(type="text/javascript", src="/js/libs/popcorn.min.js")
  script(type="text/javascript", src="/js/libs/d3.min.js")
  block content