doctype html
html
  head
    title Redes Estratégicas
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic,400italic,500italic')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/js/libs/rangeslider.css')
    link(rel='stylesheet', href='/modules/leaflet/dist/leaflet.css')
    link(rel='stylesheet', href='/js/libs/perfect-scrollbar.min.css')
    link(rel='stylesheet', href='/js/libs/slick.css')
    link(rel='stylesheet', href='/js/libs/slick-them.css')
    link(rel='stylesheet', href='/js/libs/magnific-popup.css')
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    script(type="text/javascript", src="/js/libs/jquery.min.js")
    script(type="text/javascript", src="/js/libs/popcorn.min.js")
    script(type="text/javascript", src="/js/libs/d3.min.js")
    script(type="text/javascript", src="/js/libs/jquery.magnific-popup.min.js")
    script(type='text/javascript').
        jQuery.noConflict();
        var useragent = !{JSON.stringify(useragent)};
  body#body
    block content