doctype html
html
  head
    title Redes Estratégicas
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic,400italic,500italic')
    link(rel='stylesheet', href='/styles/main.css')
  body
    div(v-with='db: fulldb')
    header(style='background-image: url(http://s3-sa-east-1.amazonaws.com/avnaweb/DAPES/home.png); height: 100%; padding: 5%;')
      .conteudo(style="text-align: center; padding: 2%; background-color: rgba(100, 100, 100, 0.8); width: 80%; margin: 0 auto;")
        h1 Redes Estratégicas
        p(style='letter-spacing: 0; text-align: center;') Para ver o conteúdo da plataforma entre usando seu computador. 
        h2 Celulares e tablets não são suportados.
      .patrocinio(style="margin-top: 10%; width: 100%; background-color: #141414; padding-bottom: 3%; position: absolute; left: 0;")
        img(src='http://s3-sa-east-1.amazonaws.com/avnaweb/DAPES/Logomarca_PNH.png', style='width: 20%; margin: 5% 10% 0;')
        img(src='http://s3-sa-east-1.amazonaws.com/avnaweb/DAPES/logo_ministerio_saude.png', style='width: 50%;')